.tipContainer {
  z-index: 6;
  position: absolute;
}

.tipContainer::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-bottom-color: white;
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}
